/* Generic Body Styles */
body {
	margin: 0;
	padding: 0;
	font-family: Calibri;
	background-color: #404145;
	width: 100%;
}

#container {
	height: 100%;
}

header {
	margin: 0;
	padding: 0;
	background-color: #2e2e2e;
	width: 100%;
	height: 100px;
}

header h1{
	margin: 0;
	padding: 0;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	left: 45%;
	color: white;
}

/* Now for specific body elements */
ul {
	list-style-type: none;
	
}

ul li {
	color: white;
	border-bottom: 2.5px solid #2e2e2e;
	border-radius: 12px;
	width: 50%;
	vertical-align: middle;
	text-align: center;
}

ul a {
	text-decoration: none;
	color: white;
	margin: 0 auto;

}
#landing-contents ul {
	padding-top: 0;

}
#landing-contents ul li {
	padding: 8%;
	margin: 20% 0;
}

#landing-contents ul li:hover{
	border-bottom-color: #d7bb00;
	color: #d7bb00;
}

.side-column {
	vertical-align: top;
}

#landing-contents {
	padding: 5% 0;
	max-width: 960px;
	display: table;
	margin: 0 auto;
}

#landing-contents img {
	width: 75%;
	display: block;
	margin: 0 auto;
}

.container-column{
	width: 45%;
	display: table-cell;
}

.side-column{ 
	width: 25%;
}

/* Footer */
footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #2e2e2e;
	display: table;
	width: 100%
}

footer li {
	display: inline-block;
	width:100%;
}

footer li div {
	display: inline-block;
	float: right;
}

.align-left{
	float: left;
}
.align-right{
	float: right;
	display: inline-block;
}


.sprite{
	width: 32px;
	height: 32px;
}

#linkedin {
	background-image: url('img/linkedin.png');
	background-repeat: no-repeat 0 0;
}
#vimeo {
	background-image: url('img/vimeo.png');
	background-repeat: no-repeat 0 0;
}
#tumblr {
	background-image: url('img/tumblr.png');
	background-repeat: no-repeat 0 0;
}

.sprite:hover{
	background-position: -32px 0;
}